/*   offer   */
.blob::before {
  position: absolute;
  top: -10px;
  left: 0;
  width: 5rem;
  height: 5rem;
  content: "";
  display: block;
  background: #ff565d;
  background: -webkit-linear-gradient(to bottom, #ff901d, #ff565d);
  background: linear-gradient(to bottom, #ff901d, #ff565d);
  transform: scale(1.3);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  z-index: -1;  
}

@media only screen and (min-width: 960px) {
  .blob::before {
    display: none;
  }
}

.offer {
 padding: 30px 0 0;
 background: url("../img/offer1.jpg") 50% 0 no-repeat;
 height: 764px;
}

.offer .main-title {
 font-size: 50px;
 font-weight: 700;
 text-transform: uppercase;
 padding-left: 310px;
 line-height: 56px;
 padding-bottom: 37px;
}

.offer .main-title span {
 display: block;
 font-size: 72px;
 color: #ff3c4c;
}

.offer .sub-title {
 font-size: 24px;
 font-weight: 700;
 line-height: 28px;
 text-align: center;
 text-transform: uppercase;
 max-width: 410px;
 float: right;
 padding-bottom: 50px;
}

.offer .sale {
 position: absolute;
 left: 326px;
 top: 355px;
 display: inline-block;
 font-size: 20px;
 color: #fff;
 line-height: 28px;
 text-align: center;
 text-transform: uppercase;
 transform: rotate(30deg);
}

.offer .sale b {
 display: block;
 font-size: 32px;
}

.offer .order-box {
 clear: both;
 float: right;
 width: 300px;
}

.offer .bullet li {
 background: url("../img/check-icon.png") 0 2px no-repeat;
 font-size: 18px;
 padding: 0 0 30px 35px;
}

.offer .bullet li:last-child {
 padding-bottom: 25px;
}

.offer .stock {
 padding-top: 20px;
 text-align: center;
}

.offer .stock b {
 display: inline-block;
 background: #ffa508;
 color: #fff;
 padding: 2px 10px;
 margin-right: 5px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
}

.offer.bottom .order-box {
 padding-top: 25px;
}

/*   s1   */

.s1 {
 padding: 10px 0 0;
 margin-bottom: -120px;
}

.s1 h2.title span {
 display: block;
}

.s1 .box {
 position: relative;
 margin-bottom: 60px;
}

.s1 .box > img {
 display: block;
 position: absolute;
 left: 0;
 bottom: -30px;
}

.s1 .title-question,
.s1 .txt {
 margin-left: 355px;
}

.s1 .title-question {
 font-size: 18px;
 font-weight: 700;
 line-height: 30px;
 padding-left: 55px;
 background: url("../img/question-icon.png") 0 9px no-repeat;
 margin-bottom: 15px;
}

.s1 .txt {
 font-size: 18px;
 line-height: 30px;
 margin-bottom: 20px;
}

.s1 .alert {
 color: #fff;
 font-size: 18px;
 line-height: 30px;
 padding: 20px 55px 20px 195px;
 margin-left: 160px;
 background: rgb(255, 105, 134);
 background: -moz-linear-gradient(top, rgba(255, 105, 134, 1) 0%, rgba(255, 49, 77, 1) 100%);
 background: -webkit-linear-gradient(top, rgba(255, 105, 134, 1) 0%, rgba(255, 49, 77, 1) 100%);
 background: linear-gradient(to bottom, rgba(255, 105, 134, 1) 0%, rgba(255, 49, 77, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6986', endColorstr='#ff314d', GradientType=0);
 -webkit-box-shadow: 0 6px 18px rgba(255, 78, 107, 0.75);
 -moz-box-shadow: 0 6px 18px rgba(255, 78, 107, 0.75);
 box-shadow: 0 6px 18px rgba(255, 78, 107, 0.75);
 -webkit-border-radius: 70px;
 -moz-border-radius: 70px;
 border-radius: 70px;
}



.videobox {
    width: 840px;
    margin: 0 auto 50px;
    border-radius: 10px;
    border:20px solid #fff;
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
}
/*   s2   */

.s2 {
 background: url("../img/s2-bg.jpg") 50% 0 no-repeat;
 padding-top: 170px;
 height: 818px;
}

/*   s3   */

.s3 {
 overflow: hidden;
}

.s3 h2.title {
 margin-bottom: 50px;
}

.s3 h2.title span {
 display: block;
}

/*   s4   */

.s4 {
 background: url("../img/s4-top-bg.jpg") 50% 160px no-repeat, url("../img/s4-bottom-bg.jpg") 50% 100% no-repeat #fff;
 padding-bottom: 10px;
}

.s4 .list-v3 {
 padding-top: 25px;
}

/*   photo list   */

.photo-list {
 font-size: 0;
}

.photo-list li {
 display: inline-block;
 vertical-align: top;
 width: 33.33%;
}

.photo-list img {
 display: block;
 margin: 0 auto;
 -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
 -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 border-radius: 6px;
}

/*   list-v1   */

.list-v1 {
 font-size: 0;
}

.list-v1 img {
 display: block;
 margin: 0 0 15px;
}

.list-v1 li {
 display: inline-block;
 vertical-align: top;
 width: 25%;
 font-size: 16px;
 padding-right: 40px;
 margin-bottom: 50px;
}

.list-v1 li:nth-child(2),
.list-v1 li:nth-child(3) {
 margin-top: 40px;
}

.list-v1 h4 {
 font-size: 18px;
 padding-bottom: 10px;
}

/*   list-v2   */

.list-v2 {
 background: url("../img/s3-list-bg.jpg") 55% 100% no-repeat;
 min-height: 578px;
 margin-bottom: -45px;
}

.list-v2:after {
 display: block;
 clear: both;
 content: '';
}

.list-v2 li:nth-child(1) {
 float: left;
 max-width: 271px;
}

.list-v2 li:nth-child(2) {
 float: right;
 width: 287px;
}

.list-v2 img {
 display: block;
 margin-bottom: 20px;
}

.list-v2 h4 {
 font-size: 18px;
 font-weight: 700;
 text-align: center;
 margin-bottom: 30px;
}

.list-v2 .item {
 line-height: 18px;
 padding: 0 0 20px 45px;
}

.list-v2 .not .item {
 background: url("../img/not-icon.png") 0 3px no-repeat;
}

.list-v2 .yes .item {
 background: url("../img/yes-icon.png") 0 3px no-repeat;
}

/*   slider-result   */

.slider-result {
 padding: 0 15px;
}

.slider-result .item {
 padding: 0 15px;
}

.slider-result .item img {
 display: block;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
}

/*   spec   */

.spec {
 background: url("../img/spec-bg.jpg") 50% 0 no-repeat;
 height: 662px;
}

.spec .inner {
 padding-left: 320px;
}

.spec .desc {
 font-size: 18px;
 line-height: 36px;
 color: #000;
 text-align: center;
 padding-bottom: 30px;
}

.spec .alert {
 position: relative;
 font-weight: 700;
 font-size: 18px;
 line-height: 36px;
 color: #fff;
 padding: 20px 30px 20px 100px;
 margin-bottom: 30px;
 background: rgb(255, 105, 134);
 background: -moz-linear-gradient(top, rgba(255, 105, 134, 1) 0%, rgba(255, 49, 77, 1) 100%);
 background: -webkit-linear-gradient(top, rgba(255, 105, 134, 1) 0%, rgba(255, 49, 77, 1) 100%);
 background: linear-gradient(to bottom, rgba(255, 105, 134, 1) 0%, rgba(255, 49, 77, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6986', endColorstr='#ff314d', GradientType=0);
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 border-radius: 15px;
}

.spec .alert img {
 display: block;
 position: absolute;
 left: -20px;
 bottom: -110px;
}

.spec .name {
 position: absolute;
 left: 90px;
 bottom: 42px;
 font-size: 18px;

 color: #fff;
}
.spec .name b {
    display: block;
     font-weight: 700;
}

.spec img.ava {
 display: none;
 margin: 0 auto 15px;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

/*   list-v3   */

.list-v3 {
 font-size: 0;
}

.list-v3 li {
 position: relative;
 display: inline-block;
 vertical-align: top;
 width: 25%;
 font-size: 18px;
 text-align: center;
}

.list-v3 li:nth-child(1):before {
 position: absolute;
 right: -70px;
 top: 20px;
 display: block;
 width: 110px;
 height: 71px;
 background: url("../img/s4-list-before1.png") 0 0 no-repeat;
 content: '';
}

.list-v3 li:nth-child(2):before {
 position: absolute;
 right: -135px;
 bottom: 30px;
 display: block;
 width: 150px;
 height: 69px;
 background: url("../img/s4-list-before2.png") 0 0 no-repeat;
 content: '';
}

.list-v3 li:nth-child(3):before {
 position: absolute;
 right: -45px;
 top: -15px;
 display: block;
 width: 118px;
 height: 30px;
 background: url("../img/s4-list-before3.png") 0 0 no-repeat;
 content: '';
}

.list-v3 .pic {
 position: relative;
 width: 177px;
 margin: 0 auto 15px;
}

.list-v3 .pic img {
 display: block;
 -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.25);
 -moz-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.25);
 box-shadow: 0 5px 24px rgba(0, 0, 0, 0.25);
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

.list-v3 li:nth-child(2) {
 margin-top: 95px;
}

.list-v3 p {
 padding: 0 25px;
}

.list-v3 .num {
 position: absolute;
 left: 0;
 top: 4px;
 width: 44px;
 height: 44px;
 line-height: 44px;
 text-align: center;
 color: #fff;
 font-size: 30px;
 font-weight: 700;
 background: #fe5260;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

.list-v3 li:last-child {
 padding-top: 290px;
}

.list-v3 .txt {
 display: inline-block;
 width: 100%;
 background: #ffebed;
 font-size: 18px;
 font-weight: 700;
 color: #444;
 text-align: center;
 padding: 0 10px 20px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
}

.list-v3 .txt img {
 display: block;
 margin-top: -280px;
}

/*   reviews   */

.reviews {
 background: url("../img/rev-bg-top.jpg") 50% 0 no-repeat, url("../img/rev-bg-bottom.jpg") 50% 100% no-repeat #f9f9f9;
 padding: 110px 0 40px;
}

.reviews h2.title {
 margin-bottom: 50px;
}

.reviews a.button-m {
 margin-top: 40px;
}

.slider-rev .photo {
 position: relative;
 width: 240px;
 margin: 0 auto 25px;
}

.slider-rev .photo img {
 display: block;
 -webkit-box-shadow: 0 4px 57px rgba(0, 0, 0, 0.1);
 -moz-box-shadow: 0 4px 57px rgba(0, 0, 0, 0.1);
 box-shadow: 0 4px 57px rgba(0, 0, 0, 0.1);
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
}

.slider-rev .info {
 position: absolute;
 bottom: 10px;
 left: 0;
 width: 100%;
 color: #fff;
 text-align: center;
}

.slider-rev .info h4 {
 font-size: 18px;
}

.slider-rev .desc {
 padding: 0 20px;
 line-height: 26px;
 text-align: center;
}
.slider-rev .desc p {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}


/*   order info   */

.order-info {
 background: url("../img/order-bg.jpg") 50% 25px no-repeat;
 padding: 65px 0 90px;
}

.order-info h2.title {
 font-weight: 400;
 margin-bottom: 75px;
}

.order-info h2.title span {
 font-weight: 700;
}

.order-list {
 font-size: 0;
 padding-bottom: 74px;
}

.order-list li {
 display: inline-block;
 vertical-align: top;
 width: 33.33%;
 text-align: center;
 font-size: 14px;
}

.order-list li:before {
 display: block;
 width: 110px;
 height: 110px;
 margin: 0 auto 20px;
 background-color: #fff;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
 -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
 -webkit-border-radius: 55px 0 55px 0;
 -moz-border-radius: 55px 0 55px 0;
 border-radius: 55px 0 55px 0;
 content: '';
}

.order-list li:nth-child(1):before {
 background-image: url("../img/order-icon1.png");
 background-position: 40% 50%;
}

.order-list li:nth-child(2):before {
 background-image: url("../img/order-icon2.png");
}

.order-list li:nth-child(3):before {
 background-image: url("../img/order-icon3.png");
}

.order-list h4 {
 text-transform: uppercase;
}

.order-list p {
 padding: 0 30px;
}

.quality {
    width: 840px;
    margin: 0 auto;
    position: relative;
}
.quality img {
    position: absolute;
    top: -38px;
    right: -12px;
}
.quality h3 {
    font-size: 26px;
    line-height: 1.4em;
    padding: 0 0 10px 0;
}
.quality p {
    line-height: 26px;
    margin: 0 0 20px 0;
}
.quality .qc {
    background: #ffebed;
    color:#000;
    padding: 20px 376px 5px 25px;
    border-radius: 20px 0 0 20px;
}

/*   footer   */

.footer {
 text-align: center;
 padding: 40px 0 30px;
}

.footer img {
 display: block;
 margin: 0 auto 15px;
}

.footer a {
 display: inline-block;
 color: #333;
 margin: 0 5px;
}

.footer a:hover {
 text-decoration: none;
}
.video-container {
    position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;	
}
.video-container iframe,  
.video-container object,  
.video-container embed,
.video-container .youtube {
    background: #000;
    border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 959px) {

 h2.title {
  font-size: 42px;
  line-height: 42px;
 }
.videobox {
    width: 100%;
    margin: 0 auto 40px;
}
 .offer {
  background: url("../img/offer-tablet1.jpg") 50% 0 no-repeat #fccbbe;
  height: 729px;
 }

 .offer .main-title {
  padding-left: 0;
  padding-bottom: 39px;
 }

 .offer .main-title span {
  font-size: 70px;
 }

 .offer .sale {
  left: 100px;
  top: 115px;
 }

 .timer-block {
  left: 0;
  right: 0;
  margin: auto;
 }

 .s1 {
  padding: 35px 0;
  margin-bottom: 0;
 }

 .s1 h2.title span {
  display: inline;
 }

 .s1 .title-question,
 .s1 .txt {
  margin-left: 0;
 }

 .s1 .box {
  margin-bottom: 35px;
 }

 .s1 .box > img {
  display: block;
  position: relative;
  left: auto;
  bottom: auto;
  margin: 0 auto;
 }

 .s1 .alert {
  padding: 20px;
  margin-left: 0;
  text-align: center;
 }

 .photo-list li {
  padding: 0 10px;
 }

 .s2 {
  height: auto;
  padding: 35px 0 45px;
  background: rgb(236, 222, 213);
  background: -moz-linear-gradient(left, rgba(236, 222, 213, 1) 0%, rgba(242, 228, 216, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(236, 222, 213, 1) 0%, rgba(242, 228, 216, 1) 100%);
  background: linear-gradient(to right, rgba(236, 222, 213, 1) 0%, rgba(242, 228, 216, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecded5', endColorstr='#f2e4d8', GradientType=1);
 }

 .s2 h2.title {
  margin-bottom: 50px;
 }

 .list-v1 li:nth-child(2),
 .list-v1 li:nth-child(3) {
  margin-top: 0;
 }

 .list-v1 li {
  width: 50%;
  text-align: center;
  padding: 0 20px 40px;
  margin-bottom: 0;
 }

 .list-v1 img {
  margin: 0 auto 15px;
 }

 .s3 h2.title {
  margin-bottom: 40px;
 }

 .list-v2 {
  background: none;
  min-height: 1px;
  margin-bottom: 10px;
 }

 .list-v2 li:nth-child(1),
 .list-v2 li:nth-child(2) {
  width: 50%;
  max-width: 500px;
  padding: 0 10px;
 }

 .list-v2 img {
  margin: 0 auto 20px;
 }

 .spec {
  height: auto;
  background: rgb(250, 212, 203);
  background: -moz-linear-gradient(top, rgba(250, 212, 203, 1) 0%, rgba(213, 168, 168, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(250, 212, 203, 1) 0%, rgba(213, 168, 168, 1) 100%);
  background: linear-gradient(to bottom, rgba(250, 212, 203, 1) 0%, rgba(213, 168, 168, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fad4cb', endColorstr='#d5a8a8', GradientType=0);
 }

 .spec .inner {
  padding-left: 0;
 }

 .spec img.ava {
  display: block;
  border: 4px solid #faaeaa;
 }

 .spec .name {
  position: static;
  text-align: center;
  color: #000;
  font-size: 22px;
  padding: 5px 0 10px;
 }

 .list-v3 li:nth-child(1):before,
 .list-v3 li:nth-child(2):before,
 .list-v3 li:nth-child(3):before {
  display: none;
 }

 .list-v3 li {
  width: 50%;
 }

 .list-v3 li:nth-child(2) {
  margin-top: 0;
  padding-bottom: 40px;
 }

 .list-v3 li:last-child {
  padding-top: 0;
 }

 .list-v3 .txt img {
  margin: 0 auto;
  width: 130px;
 }

 .list-v3 .txt {
  font-size: 16px;
  padding-top: 25px;
 }

 .s4 {
  background: #fff;
  padding-bottom: 35px;
 }

 .reviews {
  background: #f9f9f9;
  padding: 35px 0;
 }

 .slider-rev .photo img {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
 }

 .order-info {
  padding: 35px 0 122px;
 }

 .order-info h2.title {
  margin-bottom: 30px;
 }

 .order-list li {
  position: relative;
  display: table;
  width: 100%;
  height: 150px;
  padding-left: 140px;
  text-align: left;
 }

 .order-list p {
  padding: 0;
 }

 .order-list li:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -55px;
 }

 .order-list .txt {
  display: table-cell;
  vertical-align: middle;
 }
    .quality .qc:before {
        display: none;
    }
    .quality {
        width: 100%;
    }
    .quality h3 {
        text-align: center;
    }
    .quality img {
        top:inherit;
        bottom:-126px;
    }
    .quality .qc {
        padding: 20px 20px 5px 20px;
        border-radius: 10px;
    }
    .quality .qc p {
        padding: 0 330px 0 0;
    }

}

@media screen and (max-width: 639px) {

 .offer {
  background: url("../img/offer-mobile1.jpg") 50% 0 no-repeat #ffd4ca;
  padding: 20px 0 25px;
  height: auto;
  overflow: hidden;
 }
    .videobox {
        border:none;
        border-radius: 0;
    }
 .offer .main-title {
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  padding-bottom: 25px;
 }

 .offer .main-title span {
  font-size: 34px;
 }

 .offer .sub-title {
  font-size: 18px;
  line-height: 28px;
  float: none;
  padding-bottom: 0;
  height: 642px;
 }

 .offer .sale {
  left: 20px;
  top: 130px;
 }





 .offer .bullet {
  position: relative;
  background: #ffe8e3;
  padding-top: 25px;
  margin-bottom: 20px;
 }

 .offer .bullet:before,
 .offer .bullet:after {
  position: absolute;
  top: 0;
  display: block;
  width: 170px;
  height: 100%;
  background: #ffe8e3;
  z-index: 5;
  content: '';
 }

 .offer .bullet:before {
  left: -170px;
 }

 .offer .bullet:after {
  right: -170px;
 }

 .offer .bullet li {
  padding-bottom: 25px;
 }

 .timer-block {
  left: 10px;
  top: 629px;
 }

 h2.title {
  font-size: 26px;
  line-height: 30px;
 }

 section {
  padding: 35px 0;
 }

 .s1 .txt {
  text-align: center;
 }

 .s1 .alert {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
 }

 .s1 .title-question,
 .s1 .txt {
  line-height: 26px;
 }

 .photo-list li {
  width: 100%;
  padding: 0 0 20px;
 }

 .photo-list li:last-child {
  padding-bottom: 0;
 }

 .s2 h2.title {
  margin-bottom: 40px;
 }

 .list-v1 li {
  width: 100%;
 }

 .list-v2 li:nth-child(1) {
  margin-bottom: 20px;
 }

 .list-v2 li:nth-child(1),
 .list-v2 li:nth-child(2) {
  float: none;
  width: 100%;
  padding: 0;
 }

 .list-v2 h4 {
  padding: 0 15px;
  margin-bottom: 20px;
 }

 .slider-result {
  padding: 0 10px;
 }

 .slider-result .item {
  padding: 0 10px;
 }

 .spec .desc {
  line-height: 28px;
  padding-bottom: 25px;
 }

 .spec .alert {
  padding: 15px 15px 0;
  line-height: 30px;
  text-align: center;
 }

 .spec .alert img {
  position: static;
  margin: 20px auto 0;
 }

 .s4 .list-v3 {
  padding-top: 10px;
 }

 .list-v3 li {
  width: 100%;
  padding-bottom: 30px;
 }

 .list-v3 li:last-child {
  padding-bottom: 0;
 }

 .list-v3 .txt {
  padding: 20px;
 }

 .reviews h2.title {
  margin-bottom: 30px;
 }

 .reviews a.button-m {
  margin-top: 30px;
 }

 .order-list li {
  display: block;
  height: auto;
  padding: 0 0 35px;
  text-align: center;
 }

 .order-list li:last-child {
  padding-bottom: 0;
 }

 .order-list li:before {
  position: relative;
  left: auto;
  top: auto;
  margin-top: 0;
 }

 .offer.bottom .order-box {
  padding-top: 20px;
 }
.order-info {
    padding: 35px 0 0;
}
    .quality h3 {
        font-size: 24px;
        line-height: 1.2em;
        padding: 0 0 20px 0;
    }
    .quality .qc {
        padding: 15px 15px 5px;
}
    .quality img {
        position: static;
        margin: 30px auto 0;
    }
    .quality .qc p {
        line-height: 24px;
        margin: 0 0 15px 0;
        padding: 0;
}

}







